@font-face{
  font-family: 'Montserrat Regular';
  src: url('font/Montserrat-Regular.otf');
}

body{
  font-family: 'Montserrat Regular', sans-serif;
  background-color: #FFAA00;
}

.content{
  display: none;
  background-color: white;
  position: absolute;
  width: 600px;
  top:50%;
  left: 50%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  padding: 20px 0 20px 0;  
  border-radius: 20px;
  box-shadow: 2px 2px 20px 1px rgba(0,0,0,.1), -2px 2px 20px 1px rgba(0,0,0,.1);  
}

@media screen and (max-width: 600px){
  .content{
    width: calc(100% - 30px);
  }
}

#players{
  list-style-type: none;
  padding: 0;
}

#cards{
  padding: 0;
  list-style-type: none;
}
#cards li{
  display: inline
}

.card{
  padding: 25px 10px 25px 10px;
  font-size: large;
  font-family: 'Montserrat Regular', sans-serif;
  border: none;
  font-weight: 800;
  border-radius: 10px;
  color: white;
}
.red{
  background-color: #FF5555;
}

.blue{
  background-color: #5555FF;
}

.green{
  background-color: #55AA55;
}

.yellow{
  background-color: #FFAA00;
}

.black{
  background-color: #1a1a1a;
}

button{
  background-color: #5555FF;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  font-family: 'Montserrat Regular', sans-serif;
  box-shadow: 0 1px 7px 1px rgba(0,0,0,.1);
  cursor: pointer;
  transition: all .3s;
}

button:hover{
  box-shadow: 0 2px 9px 2px rgba(0,0,0,.2);
}

button:active{
  box-shadow: 0 1px 7px 1px rgba(0,0,0,.1);
}

button:focus {
  outline:0;
}

input{
  font-family: 'Montserrat Regular', sans-serif;
  padding: 10px;
  margin-right: 8px;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  transition: all .3s;
}
input:focus {
  box-shadow: 0 0 0 2px #5555ff8e;
  border: solid 1px transparent;
  outline:0;
}